header
    .header
        nav.main-navigation
            ul
                li
                    a(href='javascript:void(0);') Home
                li
                    a(href='javascript:void(0);') What i do
                li
                    a(href='javascript:void(0);') My works
                li
                    a(href='javascript:void(0);') About
                li
                    a(href='javascript:void(0);') Contact


